on: [push]
name: Run Tests & Lint
concurrency:
    group: ${{ github.workflow }}-${{ github.ref }}
    cancel-in-progress: true

jobs:
    tests:
        name: Run Tests
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4
            - uses: oven-sh/setup-bun@v2

            - run: docker compose -f docker-compose.tests.yml up --detach
            - run: bun install --frozen-lockfile
            - run: bun lint
            - run: bun test
